{% extends 'base.html' %}


{% block title%} Home {% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row">
      <div class="alert alert-danger h2 text-center" role="alert">
        Assignment 2
      </div>
    </div>
</div>

<div class = "container">
    <div class="row">
        <div class="col-sm-3">
            <div class="alert alert-warning h5 text-center" role="alert">
                Diganth Prakash
            </div>
        </div>
    
        <div class="col-sm-3">
            <div class="alert alert-warning h5 text-center" role="alert">
            1001965135
            </div>
        </div>

        <div class="col-sm-3">
            <div class="alert alert-warning h5 text-center" role="alert">
                Cloud Computing
            </div>
        </div>
    
        <div class="col-sm-3">
            <div class="alert alert-warning h5 text-center" role="alert">
            CSE 6331
            </div>
        </div>
        
    </div>
  </div>

{% endblock %}